<div class="container">
  <div class="container">
    <div class="jumbotron p-3 text-center">
      <h1 class="display-4">ALEC</h1>
        <hr>
          <% @users.each do |user| %> 
            <div style="font-size: 20px; font-weight: darker; color: green"> 
              <center>Points: <%= Vote.where(receiver_id: user.id).all.sum(:point) + 25 %></center>  
            </div> 
            <div style="font-size: 20px; font-weight: darker; color: green"> 
              <center>Remaining Votes: <%= @remaining_votes_user %></center>  
            </div> 
            <div style="font-size: 20px; font-weight: darker; color: green"> 
              <center>Praises Received: </center>  
            </div> 
            <div style="font-size: 20px; font-weight: darker; color: green"> 
              <center>Criticisms Received: </center>  
            </div> 
          <% end %>                 
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <h4 class="card-header text-center bg-dark text-white">HISTORY</h4>

          <div class="card-body">
            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <h4 class="card-header text-center bg-dark text-white">RECENT COMMENTS</h4>

          <div class="card-body">
            <div class="tab-content">
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="mic-info">
                          <% @votes.each do |vote| %>

                            <div style="font-size: 20px; font-weight: darker; color: green">
                              <%= vote.receiver_id %> 
                            </div>
                            <div style="font-size: 15px; font-weight: darker; ">
                              <%= truncate(vote.comment) %>
                            </div>
                            <div style="font-size: 10px; font-weight: darker; color: green">
                              <center><%= vote.created_at %></center>
                            </div>

                          <% end %>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="mic-info">
                        <h4 class="media-heading text-uppercase reviews">ZARAH</h4>
                        <h6 class=media-heading text-uppercase reviews"><mark>07/01/18</mark></h6> 
                        <p class="media-comment">Bad comment</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
      </div>
    </div>
  </div>
</div>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["07/01/18", "07/02/18", "07/03/18", "07/04/18", "07/05/18"],
      datasets: [{
        data: [25,26,24,25,23],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
