 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  
  <div class="container">
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">RECENT ACTIVITY</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-inbox table-hover table-striped table-sm">
          <thead>
            <tr>
              <th><center>Giver</center></th>
              <th><center>Receiver</center></th>
              <th><center>Points</center></th>
              <th><center>Comment</center></th>
              <th><center>Time</center></th>
            </tr>
          </thead>
          <tbody>
            <% @votes.each do |vote| %>
              <tr>
                <td>
                  <center><%= vote.user_id %></center>
                </td>
                <td>
                 <center><%= vote.receiver_id %></center>
                </td>
                <td>
                  <center><%= vote.point %></center>
                </td>
                <td>
                   <center><%= truncate(vote.comment) %></center>
                </td>
                <td>
                  <center><%= vote.created_at %></center>
                </td>
              </tr>
             <% end %>
            <!--<tr>
              <td>Zarah</td>
              <td>Chester</td>
              <td>+1</td>
              <td>Insert positive comment </td>
              <td>Date and Time </td>
            </tr>-->
          </tbody>
        </table>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
   
  </body>
</html>
