<div class="container">
  <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">SCOREBOARD</h1>
        <div class="btn-toolbar mb-2 mb-md-0"> 
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#report">Report User</button>
          </div>

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Department<span class="caret"></span>
            </button>
              <ul class="dropdown-menu">
                <li><a href="">Tech</a></li>
                <li><a href="">Business Dev</a></li>
                <li><a href="">Marketing</a></li>
                <li><a href="">Operations</a></li>
              </ul>
          </div>
        </div>
    </div>

    <h4 class="modal-title"><%= @current_user.department.name.upcase %> TEAM</h4>
    <div class = "row">
      <div class = "col">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th><center>Name</center></th>
                <th><center>Points</center></th>
              </tr>
            </thead>
            <tbody>
              <% @users_same_department.each do |user| %>
                <tr>
                  <td>
                    <center><%= link_to user.first_name, profiles_index_path(id: user) %></center>
                  </td>
                  <td>
                    <center><%= user.vote_sum %></center>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class = "col-sm-3">
        <h4><center>MONTHLY REWARDS</center></h4>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th><center>Points</center></th>
                <th><center>Item</center></th>
              </tr>
            </thead>

            <tbody>
              <% @monthlyrewards.each do |monthlyrewards| %>
                <tr>
                  <td>
                    <center><%= monthlyrewards.point %></center>
                  </td>
                  <td>
                    <center><%= monthlyrewards.description%></center>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <% if @current_user.manager == true %>
      <div class = "row">
        <div class = "col">
          <% @departments.each do |department| %>
            <% if department != @current_user.department %>
              <% @users_per_department = User.where(department: department).select('users.id, users.first_name, (COALESCE(SUM(votes.point), 0) + 25) as vote_sum').left_outer_joins(:votes_received).group('users.id, users.first_name').order("vote_sum DESC") %>
              <h4 class="modal-title"><%= department.name.upcase %> TEAM</h4>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th><center>Name</center></th>
                      <th><center>Points</center></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users_per_department.each do |user| %>
                      <tr>
                        <td>
                          <center><%= link_to user.first_name, profiles_index_path(id: user) %></center>
                        </td>
                        <td>
                          <center><%= user.vote_sum %></center>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class = "col-sm-3"></div>
      </div>
    <% end %>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
</main>
</div>