<%= form_for vote do |f| %>
  <% if @current_user.manager %>
    <p>
      <%= f.label :point, "Points:", class: 'col-2' %>
      <%= f.text_field :point, class: 'col-2' %><br />
    </p>
    <p>
      <%= f.label :comment, "Comment:", class: 'col-2' %>
      <%= f.text_field :comment, class: 'col-9' %><br />

      <%= f.hidden_field :receiver_id, value: receiver_id %>
    </p>
    <p>
      <center><%= f.submit "Submit", class: 'btn btn-primary btn-block col-2' %></center>
      <center><%= link_to "Cancel", votes_path, class: "btn btn-link col-2" %></center>
    </p>

  <% else %>
    <p>
      <%= f.radio_button :point, 1 %>
      <%= f.label :point, "Praise", class: 'col-1 row-3'%>

      <%= f.radio_button :point, -1 %>
      <%= f.label :point, "Criticize", class: 'col-1'%><br />
    </p>
    <p>
      <%= f.label :comment, "Comment", class: 'col-2' %>
      <%= f.text_field :comment, class: 'col-9' %><br />

      <%= f.hidden_field :receiver_id, value: receiver_id %>

      <center><%= f.submit "Submit", class: 'btn btn-primary btn-block col-2' %></center>
      <center><%= link_to "Cancel", votes_path, class: "btn btn-link col-2" %></center>
    </p>

  <% end %>
<% end %>
