<div class="modal" id="no-vote">
  <div class="modal-dialog">
    <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Alert</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      You have no more votes remaining
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
    	<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
    </div>

    </div>
  </div>
</div>

<div class="container">
  <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">VOTES</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <h1 class="h3">REMAINING VOTES: <%= @remaining_votes_user %></h3>
      </div>
    </div>

    <h4 class="modal-title"><center><%= @current_user.department.name.upcase %> TEAM</center></h4>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <div class="table-responsive">
      <table class="table table-inbox table-hover table-striped">
        <tbody>
          <% @users.each do |user| %>
            <!--% if user.department_id ==  current_user.department_id %><-->
            <tr class="">
              <td colspan="10"><center> <%= user.first_name %> <%= user.last_name %> </center></td>
              <td class="td-actions">
                <a class="p-2 text-muted" href="/votes/<%= user.id %>"><button type="button" class="btn btn-success">Vote</button></a>
              </td>
            </tr>
            <!--% end %><-->
          <% end %>
        </tbody>
      </table>
    </div>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
  </main>
</div>
