<div class="container">
  <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">VOTES</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <h1 class="h3">REMAINING VOTES: <%= @remaining_votes_user %></h3>
      </div>
    </div>
    <h4 class="modal-title"><center><%= @current_user.department.name.upcase %> TEAM</center></h4>    
    <h5> Voting for <%= @receiver.first_name %> <%= @receiver.last_name %> </h5>

    <%= render partial: 'form', locals: { vote: @vote, receiver_id: @receiver.id } %>

  </main>
</div>
